name: Publish package to npm
on: pull_request_target
jobs:
  publish_to_npm: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
      - run: npm ci
      - run: cat .npmrc
      - run: echo "{{ toJson(secrets) }}"
